---
---
<style>
  * {
    font-family: "Literata";
  }
</style>

<section
  id="contacto"
  class="p-8 md:px-20 md:py-20 mt-20 mx-auto flex flex-col items-center text-center">
  <span class="text-aa text-3xl leading-3">*</span>
  <h2 class="text-aa text-3xl tracking-tight">Contacto</h2>

  <h3 class="text-aa text-3xl md:text-5xl tracking-tight mt-10">
    ¿Te interesa trabajar con nosotros?
  </h3>
  <a href="mailto:chestudioinfo@gmail.com" class="text-c text-3xl md:text-4xl mt-5 underline" rel="noopener">
    chestudioinfo@gmail.com
  </a>
</section>
