---
import Link from "@components/ui/link.astro";
---

<style>
  main {
    margin-top: 5rem;
  }
  h1{
    font-family: "Literata"
  }
</style>

<main class="grid place-items-center gap-20 pt-16 pb-8 md:pt-12 md:pb-24">
  <h1
    class="text-5xl lg:text-6xl xl:text-7xl text-balance text-center text-white">
    Defendemos tus derechos<br />
    <b>en la era digital.</b>
  </h1>

  <Link
    href="#about"
    class="uppercase text-c pill"
  >
    Saber m&aacute;s
  </Link>
</main>
